body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u6 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:6px;
  top:30px;
  width:24px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:290px;
  top:30px;
  width:24px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:466px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
}
#u12 {
  position:absolute;
  left:2px;
  top:226px;
  width:316px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:414px;
  width:35px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:270px;
  top:284px;
  width:35px;
  height:35px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:270px;
  top:338px;
  width:35px;
  height:35px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:270px;
  top:414px;
  width:35px;
  height:35px;
  font-size:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:468px;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:35px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:260px;
  top:0px;
  width:35px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u21_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:35px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:260px;
  top:0px;
  width:35px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u35 {
  position:fixed;
  left:0px;
  bottom:20px;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:3px;
  width:32px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:20px;
  top:33px;
  width:32px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:144px;
  top:3px;
  width:32px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:144px;
  top:33px;
  width:32px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:268px;
  top:3px;
  width:32px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u47 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:268px;
  top:33px;
  width:32px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
