body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:30px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:506px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
}
#u11 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:405px;
  width:280px;
  height:150px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
}
#u13 {
  position:absolute;
  left:5px;
  top:20px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:513px;
  width:240px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:81px;
  width:200px;
  height:220px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:220px;
}
#u17 {
  position:absolute;
  left:2px;
  top:104px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:340px;
  width:280px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:460px;
  width:240px;
  height:30px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20_input {
  font-family:'应用字体';
}
#u21 {
  position:absolute;
  left:40px;
  top:425px;
  width:240px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:60px;
  top:300px;
  width:205px;
  height:35px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:177px;
  visibility:hidden;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  height:280px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u30 {
  position:absolute;
  left:5px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:0px;
  width:240px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  line-height:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:250px;
  width:240px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
