body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:30px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:30px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:506px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
}
#u13 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:405px;
  width:280px;
  height:150px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
}
#u15 {
  position:absolute;
  left:5px;
  top:20px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:465px;
  width:240px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:81px;
  width:200px;
  height:220px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:220px;
}
#u19 {
  position:absolute;
  left:2px;
  top:104px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:340px;
  width:280px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:300px;
  width:205px;
  height:35px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:20px;
  top:64px;
  visibility:hidden;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:113px;
  width:280px;
  height:297px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:297px;
}
#u29 {
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:93px;
  width:240px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:20px;
  width:150px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:146px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:176px;
  top:23px;
  width:94px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  height:1px;
}
#u35 {
  position:absolute;
  left:40px;
  top:510px;
  width:240px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:415px;
  width:240px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:350px;
  top:70px;
  width:320px;
  height:400px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:400px;
}
#u40 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
