body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  opacity:0.77;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u2 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:146px;
  top:320px;
  width:6px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:25px;
  top:468px;
  width:270px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:25px;
  top:345px;
  width:270px;
  height:80px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:80px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:25px;
  top:320px;
  width:75px;
  height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:120px;
  top:12px;
  width:81px;
  height:21px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:6px;
  width:32px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:25px;
  top:60px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:60px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:215px;
  top:60px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:240px;
  width:320px;
  height:13px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:95px;
  top:265px;
  width:60px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:25px;
  top:265px;
  width:60px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:165px;
  top:265px;
  width:60px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:235px;
  top:265px;
  width:60px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:95px;
  top:185px;
  width:60px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:25px;
  top:185px;
  width:60px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:165px;
  top:185px;
  width:60px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:235px;
  top:185px;
  width:60px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:25px;
  top:162px;
  width:115px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:160px;
  width:320px;
  height:13px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:180px;
  top:162px;
  width:115px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u44 {
  position:absolute;
  left:180px;
  top:241px;
  width:115px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u45 {
  position:absolute;
  left:25px;
  top:241px;
  width:115px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
