body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:30px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:506px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
}
#u11 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:75px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u14 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:70px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u16 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:120px;
  top:10px;
  width:190px;
  height:20px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:120px;
  top:40px;
  width:190px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:96px;
  width:320px;
  height:90px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u22 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:106px;
  width:100px;
  height:70px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:120px;
  top:106px;
  width:190px;
  height:20px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:120px;
  top:136px;
  width:190px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:0px;
  top:96px;
  width:320px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
