body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1220px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:120px;
  top:32px;
  width:81px;
  height:21px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:0px;
  top:30px;
  width:24px;
  height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:145px;
  width:300px;
  height:180px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u10 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:70px;
  width:300px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:110px;
  width:150px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:335px;
  width:300px;
  height:840px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:840px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:220px;
  top:110px;
  width:90px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
