body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:574px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:574px;
}
#u2 {
  position:absolute;
  left:2px;
  top:279px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  opacity:0.77;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u4 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:62px;
  top:468px;
  width:200px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:180px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:146px;
  top:320px;
  width:6px;
  height:16px;
  opacity:0.7;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:574px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:574px;
}
#u12 {
  position:absolute;
  left:2px;
  top:279px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  opacity:0.77;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u14 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:25px;
  top:468px;
  width:100px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:62px;
  top:180px;
  width:200px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:146px;
  top:340px;
  width:6px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:195px;
  top:468px;
  width:100px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:128px;
  top:250px;
  width:64px;
  height:64px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:95px;
  top:365px;
  width:60px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:25px;
  top:365px;
  width:60px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:165px;
  top:365px;
  width:60px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:235px;
  top:365px;
  width:60px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:25px;
  top:342px;
  width:115px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:340px;
  width:320px;
  height:13px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:180px;
  top:342px;
  width:115px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
