body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:530px;
  opacity:0.3;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:530px;
}
#u2 {
  position:absolute;
  left:2px;
  top:258px;
  width:316px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:468px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:0px;
  width:235px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:265px;
  top:0px;
  width:35px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u11 {
  position:fixed;
  left:0px;
  bottom:20px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:3px;
  width:32px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:33px;
  width:32px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:144px;
  top:3px;
  width:32px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:144px;
  top:33px;
  width:32px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:268px;
  top:3px;
  width:32px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:268px;
  top:33px;
  width:32px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:-1px;
  width:320px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:30px;
  width:44px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:266px;
  top:30px;
  width:44px;
  height:25px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:80px;
  width:180px;
  height:180px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u35 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:146px;
  top:317px;
  width:6px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:10px;
  top:319px;
  width:115px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:317px;
  width:320px;
  height:13px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:190px;
  top:319px;
  width:115px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u42 {
  position:absolute;
  left:30px;
  top:265px;
  width:32px;
  height:32px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:144px;
  top:265px;
  width:32px;
  height:32px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:254px;
  top:265px;
  width:38px;
  height:38px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u47 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:20px;
  top:275px;
  width:272px;
  height:153px;
  overflow:hidden;
  visibility:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:153px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:70px;
  width:60px;
  height:60px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:110px;
  top:70px;
  width:60px;
  height:60px;
  font-size:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:212px;
  top:70px;
  width:60px;
  height:60px;
  font-size:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u54 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:140px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:110px;
  top:140px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:212px;
  top:140px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:0px;
  width:250px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u62 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:146px;
  top:440px;
  width:6px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:10px;
  top:442px;
  width:115px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:440px;
  width:320px;
  height:13px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:190px;
  top:442px;
  width:115px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u69 {
  position:absolute;
  left:20px;
  top:345px;
  width:60px;
  height:60px;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:130px;
  top:345px;
  width:60px;
  height:60px;
  font-size:10px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:232px;
  top:345px;
  width:60px;
  height:60px;
  font-size:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:20px;
  top:415px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:130px;
  top:415px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:232px;
  top:415px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
