body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:730px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:129px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:590px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:590px;
}
#u4 {
  position:absolute;
  left:410px;
  top:210px;
  width:320px;
  height:400px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:400px;
}
#u5 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
