body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:5px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:110px;
  top:29px;
  width:100px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:506px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
}
#u11 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:75px;
  width:320px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u13 {
  position:absolute;
  left:20px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:235px;
  width:66px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:292px;
  width:66px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:348px;
  width:66px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:93px;
  top:388px;
  width:207px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input {
  font-family:'应用字体';
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:93px;
  top:423px;
  width:181px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:6px;
  width:181px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:122px;
  width:66px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:93px;
  top:122px;
  width:207px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25_input {
  font-family:'应用字体';
}
#u26 {
  position:absolute;
  left:20px;
  top:179px;
  width:66px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:93px;
  top:179px;
  width:88px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:212px;
  top:179px;
  width:88px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:93px;
  top:348px;
  width:88px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:212px;
  top:348px;
  width:88px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:480px;
  width:280px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:276px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:93px;
  top:235px;
  width:207px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_input {
  font-family:'应用字体';
}
#u38_input:disabled {
  color:grayText;
}
#u39 {
  position:absolute;
  left:93px;
  top:292px;
  width:207px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u39_input {
  font-family:'应用字体';
}
#u39_input:disabled {
  color:grayText;
}
#u40 {
  position:absolute;
  left:0px;
  top:525px;
  width:320px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:6px;
  width:320px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:230px;
  visibility:hidden;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
}
#u44 {
  position:absolute;
  left:2px;
  top:67px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:20px;
  top:97px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:160px;
  top:97px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#E67E22;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:35px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u50 {
  position:absolute;
  left:20px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:253px;
  top:3px;
  width:24px;
  height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:350px;
  top:70px;
  width:320px;
  height:400px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:400px;
}
#u54 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
